{% extends("base.html.twig") %}
{% block body %}

    <section id="main" class="container">

        {% block contenido %}{% endblock %}
    </section>
    <footer class="footer ">
        <div class="container">
            <p>Copyright ©2014 RBSoft-cachorios@gmail.com </p>
        </div>
    </footer>
{% endblock body %}