
    {% extends '::layout.html.twig' %}
    {% block id 'Area' %} 
            {% block contenido -%}
        {% embed '::portlet.html.twig' with {'titulo': 'Nuevo Area' } %}
                {% block cuerpo %} 
        <p></p>
        
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="col-sm-offset-2">
                    <input type="submit" value="Guardar" class="btn btn-success">
                </div>

            {{ form_end(form) }}
        

        
        <div class="row">
            


<div class="col-md-1 col-md-offset-10 ">
    <a href="{{ path('area') }}" class="btn btn-sm btn-default">
        Ir a la lista
    </a>
</div>

        </div>

        {% endblock %} 
        {% endembed %} 



        {% endblock contenido %}
    